@import "tailwindcss";

@utility logo-spin {
  animation: spin 20s linear infinite;
}

main {
  @apply flex size-full min-h-screen flex-col items-center justify-center;
}

main,
header,
footer {
  @apply px-10;
}

.logo {
  @apply h-[6em] p-2 transition-all duration-200 ease-in-out;
}
.logo:hover {
  @apply drop-shadow-[0_0_2em_#646cffaa];
}
.logo.react:hover {
  @apply drop-shadow-[0_0_2em_#61dafbaa];
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
