@import "tailwindcss";

@theme {
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;
  --text-base: 1rem;
  --text-base--line-height: 1.5rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.75rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility logo-spin {
  animation: spin 20s linear infinite;
}

main {
  @apply flex size-full min-h-screen flex-col items-center justify-center;
}

main,
header,
footer {
  @apply px-10;
}

.logo {
  @apply h-[6em] p-2 transition-all duration-200 ease-in-out;
}
.logo:hover {
  @apply drop-shadow-[0_0_2em_#646cffaa];
}
.logo.react:hover {
  @apply drop-shadow-[0_0_2em_#61dafbaa];
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
